#footer {
    font-family: var(--mainKor-font);
}
.footer__inner {
    padding: 16px;

    }
    .footer__right {
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 20px;
    }

